h1{
    color: whitesmoke ;
}

nav{
    display: flex;
    width: 80%;
    margin: auto;
    padding: 20px 0;
    align-items:center;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    list-style: none ;
    margin: 0px 20px;
}

nav ul li a{
    text-decoration: none;
    color:palevioletred;
    font-size: 20px;
    font-weight: bold;
}

nav ul li a:hover{
    color: #CD4C77;
}

h2{
    font-size: 30px;
    color: #CD4C77;
}